<h3>Datos de Contacto</h3>

<form class="form-floating">
    <input type="name" class="form-control" id="floatingInputValue" placeholder="name" value="name">
    <label for="floatingInputValue">Ingresá tu nombre</label>
    <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
    <label for="floatingInputValue">Input with value</label>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Comentarios</label>
    </div>
    <button type="submit" btn btn-info>Enviar</button>
  </form>